{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block title %}Об авторе{% endblock %}
{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block" style="height: 100%; margin-top: 100px;">Автором данного проекта является Судомоин Павел.</p>
        <a href="mailto:sudomoin.pavel@yandex.ru" class="custom-text-block" style="height: 100%; margin-top: 10px;">Почта</a>
        <a href="https://github.com/pavel-sudomoin" class="custom-text-block" style="height: 100%; margin-top: 10px;">Профиль на github</a>
    </div>
{% endblock %}