{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block title %}О технологиях{% endblock %}
{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block" style="height: 100%; margin-top: 100px;">При разработке данного сайта был использован следующий стек:</p>
        <a href="https://www.djangoproject.com/" class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">Django</a>
        <a href="https://www.postgresql.org/" class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">PostgreSQL</a>
        <a href="https://nginx.org/" class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">Nginx</a>
        <a href="https://gunicorn.org/" class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">Gunicorn</a>
        <a href="https://www.docker.com/" class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">Docker</a>
        <a href="https://docs.docker.com/compose/" class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">Docker-Compose</a>
        <a href="https://cloud.yandex.ru/" class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">Яндекс.Облако</a>
    </div>
{% endblock %}
