{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block title %}О технологиях{% endblock %}
{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block" style="height: 100%; margin-top: 100px;">При разработке данного сайта был использован следующий стек:</p>
        <p class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">Django</p>
        <p class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">PostgreSQL</p>
        <p class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">Nginx</p>
        <p class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">Gunicorn</p>
        <p class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">Docker</p>
        <p class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">Docker-Compose</p>
        <p class="custom-text-block" style="height: 100%; margin-top: 10px; color: purple;">Яндекс.Облако</p>
    </div>
{% endblock %}