{% extends "base.html" %}

{% block title %}Новый пароль{% endblock %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
    {% if validlink %}
        {% load user_filters %}
        <div class="main__header">
            <h1 class="main__title">Введите новый пароль</h1>
        </div>
        <div class="form-container">
            <form class="form" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form__group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                        <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                        <div class="form__field-group">
                            {{ field|addclass:"form__input" }}
                            <span class="form__error">{{ field.errors }}</span>
                        </div>
                    </div>
                {% endfor %}
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Назначить новый пароль</button>
            </div>
            </form>
        </div>
    {% else %}
        <form action="{% url 'main_page' %}">
            <div class="custom-center-block">
                <p class="custom-text-block">Ссылка сброса пароля содержит ошибку или устарела.</p>
                <div class="custom-button-block">
                    <button type="submit" class="button button_style_blue">Произошла ошибка</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}