{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'main_page' %}">
        <div class="custom-center-block">
            <p class="custom-text-block">Пароль изменён</p>
            <div class="custom-button-block">
                <button type="submit" class="button button_style_blue">Пароль изменён успешно</button>
            </div>
        </div>
    </form>
{% endblock %}