<div class="card" data-id="{{ recipe.id }}">
    {% load thumbnail %}
    {% thumbnail recipe.image "361x240" crop="center" upscale=True as im %}
        <a href="{% url 'recipe' recipe.slug %}" class="link" target="_blank">
            <img src="{{ im.url }}" alt="Изображение {{ recipe.name }}" class="card__image">
        </a>
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.slug %}" target="_blank">{{ recipe.name }}</a>
        <ul class="card__items">
            {% for tag in recipe.tag.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.color }}">{{ tag.name }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span>{{ recipe.time }}</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author %}" style="color: black">{{ recipe.author }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% if user.is_authenticated %}
            {% if recipe in user.profile.shoplist.all %}
                <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span>Рецепт добавлен</button>
            {% else %}
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
            {% endif %}
            {% if user != recipe.author and recipe in user.profile.favorites.all %}
                <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
            {% else %}
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
            {% endif %}
        {% endif %}
    </div>
</div>