<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Foodgram{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>

<body class="body">
    {% include 'include/header.html' %}
    <main class="main container">
        {% block content %}
        {% endblock %}
    </main>
    {% include 'include/footer.html' %}
    {% block script %}{% endblock %}
</body>

</html>