{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block title %}Рецепты{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="main__header">
        <h1 class="main__title">Рецепты</h1>
        <ul class="tags">
            {% for tag in tags %}
                <li class="tags__item">
                    <a  id="{{ tag.slug }}"
                        class="tags__checkbox {{ tag.color_class }} {% if tag.is_selected %}tags__checkbox_active{% endif %}"
                        href="{% url 'main_page' %}{{ tag.href }}"></a>
                    <span for="{{ tag.slug }}" class="tags__label">{{ tag.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% include "include/card_list.html" with page=page paginator=paginator %}
{% endblock %}
{% block script %}
    <script src="{% static './js/components/MainCards.js' %}"></script>

    <script src="{% static './js/components/Purchases.js' %}"></script>
    {% if user.is_authenticated %}<script src="{% static './js/components/Favorites.js' %}"></script>{% endif %}

    <script src="{% static './js/config/config.js' %}"></script>
    <script src="{% static './js/components/CardList.js' %}"></script>
    <script src="{% static './js/components/Header.js' %}"></script>

    <script src="{% static './js/api/Api.js' %}"></script>
    {% if user.is_authenticated %}<script src="{% static 'indexAuth.js' %}"></script>{% else %}<script src="{% static 'indexNotAuth.js' %}"></script>{% endif %}
{% endblock %}