{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% csrf_token %}
    {% url 'favorite' as page_href %}
    {% include "include/main_header.html" with title=title tags=tags page_href=page_href %}
    {% include "include/card_list.html" with page=page paginator=paginator %}
{% endblock %}
{% block script %}
    <script src="{% static './js/components/MainCards.js' %}"></script>

    <script src="{% static './js/components/Purchases.js' %}"></script>
    <script src="{% static './js/components/Favorites.js' %}"></script>

    <script src="{% static './js/config/config.js' %}"></script>
    <script src="{% static './js/components/CardList.js' %}"></script>
    <script src="{% static './js/components/Header.js' %}"></script>

    <script src="{% static './js/api/Api.js' %}"></script>
    <script src="{% static 'favorite.js' %}"></script>
{% endblock %}
