{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}
{% block title %}Мои подписки{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        {% load thumbnail %}
        {% for author in page %}
            <div class="card-user" data-author="{{ author.id }}">
                <div class="card-user__header">
                    <h2 class="card-user__title">{{ author }}</h2>
                </div>
                <div class="card-user__body">
                    <ul class="card-user__items">
                        {% for recipe in author.recipes.all|slice:":3" %}
                            <li class="card-user__item">
                                <div class="recipe">
                                    {% thumbnail recipe.image "72x72" crop="center" upscale=True as im %}
                                        <img src="{{ im.url }}" alt="Изображение {{ recipe.name }}" class="recipe__image">
                                    {% endthumbnail %}
                                    <h3 class="recipe__title">{{ recipe.name }}</h3>
                                    <p class="recipe__text"><span class="icon-time"></span>{{ recipe.time }} мин.</p>
                                </div>
                            </li>
                        {% endfor %}
                        {% if author.recipes.count > 3 %}
                            <li class="card-user__item">
                                <a href="{% url 'profile' author %}" class="card-user__link link">Еще {{ author.recipes.count|add:"-3" }} рецептов...</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-user__footer">
                    {% if user.is_authenticated and user != author %}
                        {% if author in user.profile.following.all %}
                            <button class="button button_style_light-blue button_size_auto button_style_blue" name="subscribe">Отписаться</button>
                        {% else %}
                            <button class="button button_style_light-blue button_size_auto" name="subscribe" data-out>Подписаться</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if page.has_other_pages %}
        {% include "include/paginator.html" with items=page paginator=paginator %}
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static './js/config/config.js' %}"></script>

    <script src="{% static './js/components/MainCards.js' %}"></script>
    <script src="{% static './js/components/MyFollow.js' %}"></script>
    <script src="{% static './js/components/Subscribe.js' %}"></script>
    <script src="{% static './js/components/Header.js' %}"></script>

    <script src="{% static './js/api/Api.js' %}"></script>
    <script src="{% static 'myFollow.js' %}"></script>
{% endblock %}
