{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
{% block title %}Список покупок{% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% load thumbnail %}
            {% for recipe in recipes %}
                <li class="shopping-list__item" data-id="{{ recipe.id }}">
                    <div class="recipe recipe_reverse">
                        {% thumbnail recipe.image "90x90" crop="center" upscale=True as im %}
                            <img src="{{ im.url }}" alt="Изображение {{ recipe.name }}" class="recipe__image recipe__image_big">
                        {% endthumbnail %}
                        <h3 class="recipe__title">{{ recipe.name }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span>{{ recipe.time }} мин.</p>
                    </div>
                    <a href="#" class="shopping-list__button link">Удалить</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'shoplist_download' %}"><button class="button button_style_blue">Скачать список</button></a>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static './js/config/config.js' %}"></script>
    <script src="{% static './js/components/Header.js' %}"></script>
    <script src="{% static './js/components/ShopList.js' %}"></script>
    <script src="{% static './js/api/Api.js' %}"></script>
    <script src="{% static 'shopList.js' %}"></script>
{% endblock %}
